video.main-bg {
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #fff;

  .bold-text,
  .light-text {
    text-align: left;
    font-size: 6rem;
    display: block;
    line-height: 5rem;
    font-weight: 100;
    padding: 0 20rem;

    @media screen and (max-width: 1024px) {
      font-size: 3rem;
      line-height: 2.5rem;
    }
    @media screen and (max-width: 500px) {
      padding: 0 1rem;
    }
    @media screen and (min-width: 500.1px) and (max-width: 1024px) {
      padding: 0 2rem;
    }
  }

  .bold-text {
    font-family: "Average", serif;
  }

  .scroll-text {
    text-align: left;
    color: hsla(0, 0%, 100%, 0.75);
    padding: 15rem 0 0 12rem;
    
    @media screen and (max-width: 1024px) {
      padding: 15rem 0 0 2rem;
      font-size: 1rem;
    }
    @media screen and (max-width: 500px) {
      padding: 15rem 0 0 1rem;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
}
