.experiences {
  .experiences-title {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .experiences-article{
    background-color: #f3f3f3;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}
