.our-worlds-card {
    .location-pic {
      width: 100%;
    }
    .data {
      margin-top: 0.5rem;
      .title {
        font-size: 0.9rem;
      }
      .subtitle {
        font-size: 0.85rem;
        color: #777;
      }
    }
  }